<template id="chaosCardTemplate">
	<style>
	.hidden {
			display: none;
	}
	</style>
	
	<div class="card">
		<div class='chaos_action hidden'></div>
		<div class='element_textContent' id='element_textContent'></div>
		<div class='element_locator'>
			<div class='element_locator_root' id='element_locator_root'></div>
			<div class='element_locator_parent' id='element_locator_parent'></div>
			<div class='element_locator_context' id='element_locator_context'></div>
		</div>
	</div>

</template>

<!-- CSP ruins all our fun, this has to be external because of that -->
<script src="chaosCard.js"></script>
	