.metadata/
/META-INF
target
.project
.classpath
.mvn
.mvnrepo
release.properties
pom.xml.releaseBackup
*.log
.settings
*.pyc
.DS_Store
.idea/*
*.iml
*.ipr
*.iws
.vscode/*
version.properties
*~
tags
aura-impl/src/test/eslint/
node
node_modules
rebel.xml

# Best framework specifics
__benchmarks_results__
**/performanceBenchmark/public/libs/js/aura*
