
<template id="actionCardTemplate">
	<style>
	button, html input[type=button], input[type=reset], input[type=submit] {
		-webkit-appearance: button;
		cursor: pointer;
	}
	button {
	  /*.slds-button {*/
	  position: relative;
	  display: inline-block;
	  padding: 0;
	  background-clip: padding-box;
	  border-radius: 0.25rem;
	  color: #0070d2;
	  font-size: inherit;
	  text-decoration: none;
	  -webkit-appearance: none;
	  white-space: normal;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  -webkit-transition: color 0.05s linear, background-color 0.05s linear;
	  transition: color 0.05s linear, background-color 0.05s linear;
	  /*}*/
	}
	.button {
    	position: relative;
    	display: inline-block;
	    padding: 0;
	    background: 0 0;
	    background-clip: padding-box;
	    border: 0;
	    border-radius: .25rem;
	    color: #0070d2;
	    font-size: inherit;
	    line-height: 2.125rem;
	    text-decoration: none;
	    -webkit-appearance: none;
	    white-space: normal;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    transition: color 50ms linear,background-color 50ms linear;
	}
	button.text-button{
	  /*.slds-button--x-small {*/
	  line-height: 1.25rem;
	  min-height: 1.25rem;
	  /*}*/
	  /*.slds-button--neutral {*/
	  padding-left: 1rem;
	  padding-right: 1rem;
	  text-align: center;
	  vertical-align: middle;
	  border: 1px solid #d8dde6;
	  background-color: white;
	  /*}*/
	}
	.button--icon{
    	vertical-align: middle;
    	color: #54698d;
	}
	.button--icon:hover,
	.button--icon:focus{
    	color: #005fb2;
	}
	.button--icon:active{
    	color: #00396b;
	}
	.button--icon-bare {
    	line-height: 1;
	}
	.button--icon-small {
    	width: 2rem;
    	height: 2rem;
    	line-height: 1.875rem;
	}
	button.toggle{
	  /*.slds-button--x-small {*/
	  line-height: 1.25rem;
	  min-height: 1.25rem;
	  /*}*/
	  /*.slds-button--neutral {*/
		border: none;
	  text-align: center;
	  vertical-align: middle;
	  background-color: white;
	  /*}*/
	}
	button.text-button:hover,
	button.text-button:focus {
	  background-color: #f4f6f9;
	  color: #005fb2;
	}
	button:focus {
	  outline: 0;
	  box-shadow: 0 0 3px #0070D2;
	}
	button.toggle:focus{
		box-shadow: none;
	}
	button.toggle:focus label,
	button.toggle:hover label{
		color: #005fb2;
		text-decoration: underline;
	}
	button.text-button:active {
	  background-color: #eef1f6;
	  color: #00396b;
	}
	button[disabled].text-button {
	  background-color: white;
	  cursor: default;
	}
	.button__icon {
	    width: 1rem;
    	height: 1rem;
    	fill: currentColor;
	}
	.div_actionName {
		font-weight: 300;
		font-size: 1.125rem;
		line-height: 1.25;
		margin: .5rem;
		overflow-wrap: break-word;
	}
	.span_removeActionCard {
		display: none;
	}
	dl{
			display: flex;
			flex-wrap: wrap;
	}
	th, dt {
			font-weight: normal;
			font-size: .75em;
			padding: .5rem .5rem 0 .5rem;
			text-align: left;
			font-size: 0.75rem;
			line-height: 1.25;
			letter-spacing: 0.0625em;
			color: #54698d;
	}
	td, dd {
			color: #16325c;
			font-size: .75rem;
			padding: 0 .5rem 0 .5rem;
			margin: 0;
	}
	dd {
			word-wrap: break-word;
	}
    .div_actionParameter,
    .div_actionResponse
    {
      flex: 1 100%;
      min-width: 80px;
    }
	code { margin: 5px; display: block; white-space: pre; }
    .div_editActionResult {
			display: none;
			flex: auto;
			padding: 0 .5rem;
    }
	.div_editActionParameter {
			flex: auto;
			padding: 0 .5rem;
    }
	.code{
			font-family: Menlo, monospace;
	}
    .textarea_ActionResult,
	.textarea_ActionParameter {
      border: 1px solid #e0e5ee;
      width: 100%;
      box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
    }
	textarea{
		background-color: #fff;
		color: #16325c;
		border: 1px solid #d8dde6;
		border-radius: .25rem;
		width: 100%;
		transition: border .1s linear,background-color .1s linear;
		display: inline-block;
		resize: vertical;
    	padding: .5rem .75rem;
	}
	textarea:active,
	textarea:focus {
	    outline: 0;
	    border-color: #1589ee;
	    background-color: #fff;
	    box-shadow: 0 0 3px #0070D2;
	}
    aurainspector-json {
			/*margin: .5rem .5rem 0 0.5rem;*/
			display: flex;
	}
	.watch .div_actionResponse,
	.watch .div_actionParameter,
	.watch aurainspector-json,
	.watch dl.attributes{
			display: none;
	}
	.select {
	    background-color: #fff;
	    color: #16325c;
	    border: 1px solid #d8dde6;
	    border-radius: 0.25rem;
	    width: 100%;
	    -webkit-transition: border 0.1s linear,background-color 0.1s linear;
	    transition: border 0.1s linear,background-color 0.1s linear;
	    height: 2rem;
	}
	select:active,
	select:focus {
	    outline: 0;
	    border-color: #1589ee;
	    background-color: #fff;
	    box-shadow: 0 0 3px #0070D2;
	}
	.inline dd,
	.inline dt{
      display: inline-block;
      vertical-align: middle;
			padding: 0 .5rem 0 0;
	}
	.grid{
			display: flex;
	}
	.col {
			flex: 1 1 auto;
			min-width: 80px;
			overflow-wrap: break-word;
			overflow: hidden;
	}
	.shrink {
			flex: 0 1 auto;
	}
	.shrink-none {
		flex-shrink: 0;
		flex-grow: 0;
	}
	.p-top--xsmall{
			padding-top: .5rem;
	}
	.p-around--xsmall{
			padding: .5rem;
	}
	.p-top--xxsmall{
			padding-top: .25rem;
	}
	.m-top--xsmall{
			margin-top: .5rem;
	}
	.p-left--xsmall{
			padding-left: .5rem;
	}
	.p-right--xsmall{
			padding-right: .5rem;
	}
	.p-bottom--none{
			padding-bottom: 0;
	}
	.hidden {
			display: none;
	}
	.label {
		color: #54698d;
	    flex: 0 0 auto;
	    font-size: 0.75rem;
	    line-height: 1.5;
	    width: 80px;
	    vertical-align: top;
	    display: block;
	}
	.toggle::before {
		  content: '';
		  display: inline-block;
		  width: 0;
		  height: 0;
		  border-top: 4px solid transparent;
		  border-left: 7px solid #777;
		  border-bottom: 4px solid transparent;
		  margin: 3px 3px 0 0;
	}
	.toggle.expanded::before {
		  content: '';
		  display: inline-block;
		  width: 0;
		  height: 0;
		  border-left: 4px solid transparent;
		  border-top: 7px solid #777;
		  border-right: 4px solid transparent;
		  margin: 0 2px 0 0;
		  position: relative;
		  top: 4px;
	}
	.assistive-text{
		display:none;
	}
	</style>
	<div class="card">
		<div>
			<div class="grid">
				<div class="col">
					<div class="div_actionName" id="div_actionName"></div>
				</div>
				<div class="shrink-none">
					<button id='span_removeActionCard' class='span_removeActionCard button button--icon button--icon-bare button--icon-small'>
						<svg xmlns="http://www.w3.org/2000/svg" class="button__icon" aria-hidden="true" width="52" height="52" viewBox="0 0 52 52"><path d="m31 25.4l13-13.1c0.6-0.6 0.6-1.5 0-2.1l-2-2.1c-0.6-0.6-1.5-0.6-2.1 0l-13.1 13.1c-0.4 0.4-1 0.4-1.4 0l-13.1-13.2c-0.6-0.6-1.5-0.6-2.1 0l-2.1 2.1c-0.6 0.6-0.6 1.5 0 2.1l13.1 13.1c0.4 0.4 0.4 1 0 1.4l-13.2 13.2c-0.6 0.6-0.6 1.5 0 2.1l2.1 2.1c0.6 0.6 1.5 0.6 2.1 0l13.1-13.1c0.4-0.4 1-0.4 1.4 0l13.1 13.1c0.6 0.6 1.5 0.6 2.1 0l2.1-2.1c0.6-0.6 0.6-1.5 0-2.1l-13-13.1c-0.4-0.4-0.4-1 0-1.4z"></path></svg>
						<span class="assistive-text">Remove Action</span>
					</button>
				</div>
			</div>
		</div>
	    <div>
			<dl class="inline">
				<div class="div_actionParameter p-around--xsmall p-bottom--none grid">
					<dt class="shink">Parameters</dt>
					<dd class="col"><aurainspector-json class="parameters code" expandTo="0"></aurainspector-json></dd>
		        </div>
		        <div id="div_actionResponse" class="div_actionResponse p-around--xsmall p-bottom--none grid">
		        	<dt class="shrink">Result</dt>
		            <dd class="col"><aurainspector-json class="result code" expandTo="0" id="actionResult"></aurainspector-json></dd>
		        </div>
		        <div id="div_actionError" class="div_actionResponse p-around--xsmall p-bottom--none grid">
		            <dt class="shrink">Error</dt>
		            <dd class="col"><aurainspector-json class="code" expandTo="0" id="actionError" ></aurainspector-json></dd>
		        </div>
			</dl>
			<!--
			<div class="p-around--xsmall p-bottom--none" id="matchActionParameter" class="matchActionParameter">
				<button id="button_editActionParameter" class="button_editActionParameter toggle">
					<label  for="actionParameter" class="label hidden">Match Parameters</label>
				</button>
			</div>
	        <div class="div_editActionParameter p-left--xsmall p-right--xsmall p-top--xxsmall" id="div_editActionParameter">
				<textarea name="actionParameter" id="textarea_ActionParameter" class="textarea_ActionParameter code" rows="5" wrap="off">
	            </textarea>
	        </div>
	        -->
			<div class="p-around--xsmall p-bottom--none dropOrModify">
				<select id="select_dropOrModify" class="select_dropOrModify select">
				   	<option value="dropAction">Drop the Action</option>
				    <option value="modifyResponse">Override the Result</option>
				    <option value="errorResponseNextTime">Error Response Next Time</option>
				</select>
			</div>
	        <div class="div_editActionResult p-around--xsmall p-bottom--none">
	            <div class="div_textarea_ActionResult">
	            	<label for="actionResult" class="label">Key</label>
	            	<select id="select_actionResultKey" class="select">
	            	</select>
	            	<label for="actionResult" class="label m-top--xsmall">New Value</label>
	            	<textarea name="actionResultValue" id="textarea_actionResultValue" class="textarea_ActionResult code" rows="3" wrap="off">
	            	</textarea>
	        	</div>
				<div class="div_actionButtons p-top--xsmall">
		            <button id="button_saveActionResult" class="button_saveActionResult text-button">Save</button>
		            <button id="button_cancelChangeActionResult" class="button_cancelChangeActionResult text-button">Cancel</button>
		            <button id="button_editActionResult" class="button_editActionResult text-button hidden">Edit</button>
				</div>
	        </div>
	        <div class="div_errorResponse p-around--xsmall p-bottom--none">
	        	<label for="actionResult" class="label">Error Message</label>
	        	<textarea name="actionErrorMessage" id="textarea_actionErrorMessage" class="textarea_ActionResult code" rows="3" wrap="off">
	            </textarea>
	            <label for="actionResult" class="label m-top--xsmall">Error Stack</label>
	            <textarea name="actionErrorStack" id="textarea_actionErrorStack" class="textarea_ActionResult code" rows="3" wrap="off">
	            </textarea>
	            <div class="div_actionButtons p-top--xsmall">
		            <button id="button_saveError" class="button_saveError text-button">Save</button>
		            <button id="button_cancelError" class="button_cancelError text-button">Cancel</button>
		            <button id="button_editError" class="button_editError text-button hidden">Edit</button>
				</div>
	        </div>
			<div class="hidden">
					<button id="button_saveActionParameter" class="text-button">Save</button>
					<button id="button_cancelChangeActionParameter" class="button_cancelChangeActionParameter text-button">Cancel</button>
			</div>
	    </div>
	    <dl class="attributes">
				<div class="col">
				     <dt>Id</dt>
					<dd id="actionId"></dd>
				</div>
				<div class="col">
	            <dt>State</dt>
							<dd id="actionState"></dd>
					</div>
					<div class="col">
	            <dt>Abortable</dt>
							<dd id="actionIsAbortable"></dd>
					</div>
					<div class="col">
	            <dt>Background</dt>
							<dd id="actionIsBackground"></dd>
					</div>
					<div class="col">
	            <dt>Storable</dt>
							<dd id="actionIsStorable"></dd>
					</div>
					<div class="col">
	            <dt>Storable Size Est.</dt>
							<dd id="actionStorableSize"></dd>
					</div>
					<div class="col">
	            <dt>Storable Refresh</dt>
							<dd id="actionIsRefresh"></dd>
							</div>
					<div class="col">
	            <dt>Storable Cache Hit</dt>
							<dd id="actionFromStorage"></dd>
					</div>
					<div class="col">
	            <dt>Created Components</dt>
							<dd id="statsCreated"></dd>
					</div>
					<div class="col">
	            <dt>Storage Key</dt>
							<dd id=""><aurainspector-json class="storageKey code" expandTo="0"></aurainspector-json></dd>
					</div>
	    </dl>
	</div>


    

</template>

<!-- CSP ruins all our fun, this has to be external because of that -->
<script src="actionCard.js"></script>
