html {
  color: rgb(22, 50, 92);
  font-family: 'Lucida Grande', sans-serif;
}
body, form, ul, li, p, h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
body { background-color: #fefefe; color: #111; margin: 0; display: flex; flex-direction: column; height: 100%; }
img { border: none; }
p { font-size: 1em; margin: 0 0 1em 0; }
input, select, textarea, th, td { font-size: 12px; }
a {
  color: #0070D2;
  text-decoration: none;
}
a:active {
  color: #00396b;
}
a:focus {
  outline: #0070D2;
  text-decoration: underline;
}
a:hover {
  color: #005fb2;
  text-decoration: underline;
}

button {
  /*.slds-button {*/
  position: relative;
  display: inline-block;
  padding: 0;
  background-clip: padding-box;
  border-radius: 0.25rem;
  color: #0070d2;
  font-size: inherit;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.05s linear, background-color 0.05s linear;
  transition: color 0.05s linear, background-color 0.05s linear;
  /*}*/
}
button.text-button{
  /*.slds-button--x-small {*/
  line-height: 1.25rem;
  min-height: 1.25rem;
  /*}*/
  /*.slds-button--neutral {*/
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d8dde6;
  background-color: white;
  /*}*/
}
button.text-button:hover,
button.text-button:focus {
  background-color: #f4f6f9;
  color: #005fb2;
}
button:focus {
  outline: 0;
  box-shadow: 0 0 3px #0070D2;
}
button.text-button:active {
  background-color: #eef1f6;
  color: #00396b;
}
button[disabled].text-button {
  background-color: white;
  cursor: default;
}
.refresh-toolbar-item .glyph {
    -webkit-mask-position: 0 0;
}
.toolbar-item > .glyph {
    position: relative;
    left: -3px;
}
.toolbar-item > .glyph {
    -webkit-mask-image: url(Images/toolbarButtonGlyphs.png);
    -webkit-mask-size: 352px 168px;
    background-color: #5a5a5a;
    z-index: 1;
    width: 32px;
    height: 24px;
}
button#clear-button {
  left: -5px;
}
header.tabs {
  background: #F0F1F2;
  box-shadow: 0 1px 0 #e0e5ee;
  padding: 0 3em 0 1em;
  position: relative;
}
header.tabs button {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #000;
  margin: .6em .2em -1px .2em;
  padding: 2px 6px 3px 6px;
  cursor: pointer;
}
header.tabs button:hover {
  border: 1px solid #DADEE2;
  background: #F5F6F7;
  margin-bottom: -1px;
}
header.tabs button:focus {
  outline: 1px solid #FF9F05;
}
header.tabs button.selected {
  background: #fff;
  border: 1px solid #DADEE2;
  margin-bottom:-1px;
}

/*-----dropdown menu styles---------*/
header.tabs div.dropdown-trigger#help {
  float:right;
  position: relative;
  bottom: 0;
}
header.tabs div.dropdown-trigger#help .trigger {
  border: 1px solid #DADEE2;
}
#help .trigger svg{
  width:14px;
  height:14px;
  fill:#54698d;
}

ol, ul {
    list-style: none;
}
/*.slds-dropdown-trigger*/
.dropdown-trigger {
    position: relative;
    display: inline-block;
}
/*.slds-dropdown*/
.dropdown {
    position: absolute;
    z-index: 7000;
    left: 50%;
    float: left;
    min-width: 6rem;
    max-width: 20rem;
    margin-top: .125rem;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    padding: .25rem 0;
    font-size: .75rem;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*.slds-dropdown--right*/
.dropdown--right {
    left: auto;
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
/*.slds-dropdown-trigger .slds-dropdown*/
.slds-dropdown-trigger .slds-dropdown {
    top: 100%;
}
/*.slds-dropdown-trigger--click .slds-dropdown*/
.dropdown-trigger--click .dropdown {
    display: none;
}
/*.slds-dropdown-trigger--click.is-open .slds-dropdown*/
.dropdown-trigger--click.is-open .dropdown {
    display: block;
    visibility: visible;
    opacity: 1;
}
/*.slds-dropdown__item*/
.dropdown__item {
    line-height: 1.5;
}
/*.slds-dropdown__item>a*/
.dropdown__item>a {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem .75rem;
    color: #16325c;
    white-space: nowrap;
    cursor: pointer;
}
/*.slds-dropdown__item>a:focus, .slds-dropdown__item>a:hover*/
.dropdown__item>a:hover {
  text-decoration: none;
}
.dropdown__item>a:focus {
    outline: 0;
    text-decoration: none;
    background-color: #f4f6f9;
}
/*.slds-dropdown__item>a:active*/
.dropdown__item>a:active {
    text-decoration: none;
    background-color: #eef1f6;
}
/*.slds-assistive-text*/
.assistive-text {
    position: absolute!important;
    margin: -1px!important;
    border: 0!important;
    padding: 0!important;
    width: 1px!important;
    height: 1px!important;
    overflow: hidden!important;
    clip: rect(0 0 0 0)!important;
}
/*---------------*/

section.tab-body {
  display: none;
  width: 100%;
  overflow: hidden;
}
section.selected {
  display: block;
  height: calc(100% - 28px);
}
body.sidebar-visible section.tab-body,
body.sidebar-visible header.tabs {
  width: 75%;
}
body .sidebar {
  display: none;
}
body.sidebar-visible .sidebar {
  display: block;
}

/* Generic TreeView Rules */
.tree-view{
  font-family: Menlo, monospace;
  font-size: 11px;
  padding-top: .25rem;
}
.tree-view li > span {
  cursor: pointer;
  white-space: normal;
  overflow-wrap: break-word;
}
.component-tree .tree-view li > span:hover {
  background-color: rgba(56, 121, 217, 0.1);
}
.tree-view.collapsable li ul { margin: .1em 0 .1em 1.5em; }
.tree-view.collapsable li { list-style: none; }
.tree-view.collapsable li.tree-view-parent {}
.tree-view.collapsable li.tree-view-parent::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 7px solid #777;
  border-bottom: 4px solid transparent;
  margin: 3px 3px 0 0;
}
.tree-view.collapsable li.tree-view-parent.tree-view-expanded::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 7px solid #777;
  border-right: 4px solid transparent;
  margin: 0 2px 0 0;
  position: relative;
  top: 4px;
}
.tree-view.collapsable li.tree-view-parent > ul {
  display: none;
}
.tree-view.collapsable li.tree-view-parent.tree-view-expanded > ul {
  display: block;
}
.tab-body .panel-status-bar {
  background-color: transparent;
  border-bottom: 1px solid #D8DDE6;
  padding: .5em;
  margin: 0;
}
button.status-bar-item {
  left: 0;
}
.panel-status-bar { border-bottom: 1px solid #D8DDE6; padding:.5em 0; margin: 0; }

/* Common Panel Styles */
menu { border-bottom: 1px solid #D8DDE6; padding: .5em; margin: 0; }
menu li { display: inline-block; list-style: none; vertical-align: middle; }
menu button { border: 1px solid #DADEE2; background: #F5F6F7; cursor: pointer; }
menu button:active { border: 1px solid #999; background: #ddd; }
menu button.status-bar-item:active {
  border: none;
  background: none;
}
menu button.status-bar-item:active .glyph:not(.shadow) {
  background-color: rgb(0, 57, 107);
}
menu li.divider {
  background: #ccc;
  display: inline-block;
  height: 22px;
  margin: auto 6px;
  vertical-align: bottom;
  width: 1px;
}
menu .record-button {
  padding: 5px 0;
  text-align: center;
  width: 32px;
}
menu button.circle {
  border: 0px none;
  border-radius: 10px;
}
menu aurainspector-onOffButton.circle {
  border-radius: 50%;
  background: rgb(103, 103, 103);
  height: 12px;
  margin-left: -1px;
  width: 12px;
}
menu aurainspector-onOffButton.circle:hover {
  background: rgb(64, 64, 64);
}
menu aurainspector-onOffButton.circle.on {
  background: rgb(223, 51, 51);
  box-shadow: 0 0 2px 2px rgb(246, 194, 194);
}
menu aurainspector-onOffButton.circle.on:hover {
  background: rgb(216, 0, 0);
}
menu aurainspector-onOffButton.circle span {
  display: none;
}
menu aurainspector-onOffButton {
  display: inline-block;
  cursor: pointer;
  padding: 4px 6px 3px 6px;
  margin: auto 2px;
  border-radius: 8px;
}
menu aurainspector-onOffButton:hover {
  background: rgba(0, 0, 0, .2);
  color: white;
}
menu aurainspector-onOffButton:active {
  background: rgba(0, 0, 0, .5);
  color: white;
}
menu aurainspector-onOffButton.on {
  background: rgba(0, 0, 0, .3);
  color: white;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
}
.component-prefix {
  color: maroon;
}
.component-property {
  color: maroon;
}
.component-property-value {
  color: #333;
  margin: 0 0 0 3px;
}
.component-facet-property {
  color: maroon;
}
.component-tagname {
  color: blue;
}
.component-attribute {
  color: #993399;
}
.component-array-length {
  color: teal;
  font-size: .9em;
  font-style: normal;
}

/* Component Tree */
/*
  The beginnings of a resize. Need to get the component tree and component view in sync, so when you change one, the other fills in the space.
 #tab-body-component-tree { resize: horizontal; overflow: auto; } */
.component-tree { margin: 0 0 0 1em; padding: 0}
.component-tree .tree-view li.tree-node-selected > span {
  background: rgb(56, 121, 217);
  color: #fff;
}
.component-tree .tree-node-selected > span .component-tagname {
  color: #fff;
}
.component-tree .tree-node-selected > span .component-attribute {
  color: #9faab5;
}

/* IFrame Tabs */
section.tab-body.auraInspectorIFrameTab { overflow: hidden; }
.auraInspectorIFrameTab iframe { width: 100%; height: 100%; }

/* Event Log */
.event-log {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.event-log li {
  align-items: flex-start;
  border-bottom: 1px solid #d8dde6;
  display: flex;
  list-style: none;
  padding: .25rem;
}
.event-log li aurainspector-eventCard { display: inline-block; }
.event-log-timestamp:before { content: "[";}
.event-log-timestamp:after { content: "]"; margin: 0 3px 0 0; }
.event-log-timestamp { color: maroon; }

/* Toggle Button */
button.toggle {
  background: transparent;
  border: 0 none;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 1.25em;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  padding: 3px;
  vertical-align: top;
}
button.toggle::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 7px solid #777;
  border-bottom: 4px solid transparent;
  margin: 3px 3px 0 0;
  position: relative;
  left: 2px;
  top: -1px;
}
button.toggle[value="ON"]::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 7px solid #777;
  border-right: 4px solid transparent;
  margin: 0 2px 0 0;
  position: relative;
  top: 3px;
  left: 1px;
}
button.toggle:focus {
  box-shadow: 0 0 4px 0 #0070d2;
  outline: none;
}

.grid{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.grid-columns{
  flex-direction: column;
}
.scroll {
  overflow: scroll;
  height: 0;
}
.scroll-wrapper {
  height: 100%;
}
.flex{
  flex: 1 1 auto;
}

.no-flex{
  flex-shrink: 0;
  flex-grow: 0;
}




/* Component View */

.component-view {
  background: #fff;
  border-left: 1px solid #e0e5ee;
  bottom: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  width: 25%;
  top: 0;
  z-index: 11;
}
.component-view ul li {
  list-style: none;
  padding: .1em 0 0 0;
  text-indent: .5em;
}
.component-view ul li li {
  list-style: square inside;
  padding: 0 0 0 1em;
}
.component-view h3 {
  background: #f4f6f9;
  border-top: 1px solid #e0e5ee;
  border-bottom: 1px solid #e0e5ee;
  color: #000;
  font-family: 'Lucida Grande', 'Consolas', 'sans-serif';
  font-size: .75rem;
  font-weight: normal;
  padding: .125rem 0;
  margin: .25rem 0;
}

/* Performance Tab */
#flamechart { position: relative; width: 100%; height: 90%;}

/* Transactions Panel */
.trans-panel .transactions {
  height: calc(100% - 60px);
  overflow: scroll;
}
.trans-panel table {
  border-collapse: collapse;
  font-family:  'Lucida Grande', 'Consolas', 'sans-serif';
  font-size: 12px;
  width: 100%;
}
.trans-panel thead {
  text-align: left;
}
.trans-panel .transactions thead th {
  box-shadow: 0 -1px 0 0 #d8dde6 inset;
  color: #54698d;
  font-weight: normal;
  font-size: 1em;
  padding: .5rem;
  text-transform: uppercase;
  vertical-align: bottom;
}
.trans-panel td {
  box-shadow: 0 -1px 0 0 #d8dde6 inset;
  padding: .5rem;
  max-width: 350px;
  white-space: normal;
  vertical-align: top;
}
.trans-panel td.ctx {
  overflow-wrap: break-word;
}
.trans-panel tr:hover td {
  background-color: #f4f6f9;
}
.th-description {
  font-size: .625rem;
  text-transform: none;
}

/* Actions List */
.toolTipElement {
  font-size: 10px;
  position: absolute;
}
.drop-zone {
    border: 1px dashed #d8dde6;
    margin: .5rem;
    min-height: 1rem;
}
.drop-zone.allow-drop{
  border: 1px solid #0070D2;
}
.drop-zone.allow-drop::after{
  content:" ";
  height:.25rem;
  width:calc(100% - 1rem);
  display:block;
  background-color: #0070D2;
  margin:.5rem;
  border-radius:.125rem;
}
.actions-tab{
  height: 100%;
  /* .slds-grid  { */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* } */
  overflow: hidden;
}
.actions-list {
  border-right:1px solid #d8dde6;
  box-shadow: 0 -2px 4px rgba(0,0,0,.07);
  order:-1;
  z-index: 1;
  /*padding-right: .5rem;
  margin-right: .5rem;*/

}
.actions-list, .actionsToWatch-list {
  /*.slds-scrollable--y {*/
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  /*}*/
  /*.slds-col, .slds-col--padded {*/
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /*}*/
  /*.slds-size--1-of-2 {*/
  width: 50%;
  /*}*/
}
.actionsToWatch-list {
  background-color: #f4f6f9;
}
.action-card{
  background-color: #fff;
}

@media (max-width: 800px) {
  .actions-tab{
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .actions-list, .actionsToWatch-list {
    flex: 0 1 auto;
    max-height: none;
    overflow: auto;
    width: 100%;
  }
  .actionsToWatch-list {
    border-bottom: 1px solid #d8dde6;
    padding-bottom: .5rem;
    /*.slds-max-small-order--1 {*/
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    /*}*/
  }
  .actions-list {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
    /*.slds-max-small-order--2 {*/
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    /*}*/
  }
}

.actions-list section h1{
  background: #f4f6f9;
  color: #54698d;
  letter-spacing: 0.0625em;
  margin: .5rem 0 0 0;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}
.actionsToWatch-list section h1{
  background: #eef1f6;
  color: #54698d;
  letter-spacing: 0.0625em;
  margin: .5rem 0 0 0;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}
h1{
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25;
}
.actionsToWatch-list section .description{
  margin: .5rem;
  display: block;
  /*.slds-text-body--small {*/
    font-size: 0.75rem;
    color: #54698d;
  /*}*/
}
.actions-list .action-card,
.actionsToWatch-list .action-card {
  border: 1px solid #e0e5ee;
  border-radius: 4px;
  display: block;
  margin: .5rem;
  padding-bottom: .5rem;
}
.action-card.draggable:hover {
  background: #f4f6f9;
  cursor: move;
}
.action-card.dropped:hover {
  background-color: #fff;
  cursor: default;
}

.action-card.responseModified_modify {
  background-color: #BFEEA8;
}
.action-card.responseModified_error {
  background-color: #F2E005;
}
.action-card.responseModified_drop {
  background-color: #ECAB7C;
}

#tab-body-actions #filter-text { width: 150px; }
.actionsToWatch-list {
  margin: 0;
}
.actions-list .action-card.dropped, .action-card.dragging {
  opacity: .6;
}



/* Storage Panel */
#storage-viewer { padding: 10px; }

/* Loading Indicator */
#loading { display: none; position: absolute; height: 100%; width: 100%; }
#loading .dotsSpinner { width: 100px; height: 100px;}
#loading .opaque { content: ' '; background: #fff; width: 100%; height: 100%; opacity: .6; z-index: 99; }

#loading .dots { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(90deg); width: 32px; }
#loading .dots, #loading .dots div { transform-origin: 50% 50%; }
#loading .dots div { position: absolute; top: 0; left: 0; width: 100%; }

#loading .dots:before, #loading .dots:after, #loading .dots div:before, #loading .dots div:after { animation-duration: 1000ms; animation-iteration-count: infinite; content: ""; background: rgb(21, 137, 238); border-radius: 100%; width: 8px; height: 8px; position: absolute; }
#loading .dots:before, #loading .dots div:before { animation-name: dotsBounceBefore-medium; top: -4px; left: -4px; }
#loading .dots:after, #loading .dots div:after { animation-name: dotsBounceAfter-medium; top: -4px; right: -4px; }

#loading .a { transform: rotate(60deg) translateY(0); }
#loading .b { transform: rotate(120deg) translateY(0); }

#loading .dots:before { animation-delay: -83.33333ms; }
#loading .a:before { animation-delay: 83.33333ms; }
#loading .b:before { animation-delay: 250ms; }
#loading .dots:after { animation-delay: 416.66667ms; }
#loading .a:after { animation-delay: 583.33333ms; }
#loading .b:after { animation-delay: 750.0ms; }


@-webkit-keyframes dotsBounceBefore-medium {
  60% { transform: translateX(0); animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(-8px); }
  100% { transform: translateX(0); }
}
@keyframes dotsBounceBefore-medium {
  60% { transform: translateX(0); animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(-8px); }
  100% { transform: translateX(0); }
}

@-webkit-keyframes dotsBounceAfter-medium {
  60% { animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); transform: translateX(0); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(8px); }
  100% { transform: translateX(0); }
}
@keyframes dotsBounceAfter-medium {
  60% { animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); transform: translateX(0); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(8px); }
  100% { transform: translateX(0); }
}
