*, html { font-family: 'Lucida Grande', sans-serif; }

body, form, ul, li, p, h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
body { background-color: #fefefe; color: #111; margin: 0; display: flex; flex-direction: column; height: 100%; }
img { border: none; }
p { font-size: 1em; margin: 0 0 1em 0; }
input, select, textarea, th, td { font-size: 12px; }

/* General Structure */
header.tabs { background: #F0F1F2; padding: 0 0 0 1em; }
header.tabs button { background: #F5F6F7; border: 1px solid #DADEE2; border-bottom: 0px none; margin-right: .2em; margin: .6em .2em 0 .2em;}
header.tabs button:focus { outline: 1px solid #FF9F05; }
header.tabs button.selected { background: #fff; }
section.tab-body.selected { display: block; }
section.tab-body { display: none; width: 100%; overflow: auto;}
body.sidebar-visible section.tab-body { width: 75%; }
body .sidebar { display: none; }
body.sidebar-visible .sidebar { display: block; }

/* Generic TreeView Rules */
.tree-view {}
.tree-view li { cursor: pointer; }
.tree-view li > span:hover { border-bottom: 1px solid #999;}
.tree-view.collapsable li ul { margin: .1em 0 .1em 1.5em; }
.tree-view.collapsable li { list-style: none; }
.tree-view.collapsable li.tree-view-parent {}
.tree-view.collapsable li.tree-view-parent::before { content: ''; display: inline-block; width: 0; height: 0; border-top: 5px solid transparent; border-left: 7px solid #777; border-bottom: 5px solid transparent; margin: 0 3px 0 0;  }
.tree-view.collapsable li.tree-view-parent.tree-view-expanded::before { content: ''; display: inline-block; width: 0; height: 0; border-left: 5px solid transparent; border-top: 7px solid #777; border-right: 5px solid transparent; margin: 0; position: relative; top: 5px;}
.tree-view.collapsable li.tree-view-parent > ul { display: none; }
.tree-view.collapsable li.tree-view-parent.tree-view-expanded > ul { display: block; }


/* Common Panel Styles */
menu { border-bottom: 1px solid #F0F1F2; padding: .5em; margin: 0; }
menu li { display: inline-block; list-style: none; vertical-align: middle; }
menu button { border: 1px solid #DADEE2; background: #F5F6F7; cursor: pointer; }
menu button:active { border: 1px solid #999; background: #ddd; }
menu li.divider { background: #ccc; height: 22px; width: 1px; display: inline-block; vertical-align: bottom; margin: auto 6px; }
menu button.circle { border: 0px none; border-radius: 10px; }

menu aurainspector-onOffButton.circle { width: 12px; height: 12px; border-radius: 50%; background: rgb(103, 103, 103); }
menu aurainspector-onOffButton.circle:hover { background: rgb(64, 64, 64); }
menu aurainspector-onOffButton.circle.on { background: rgb(223, 51, 51); box-shadow: 0 0 2px 2px rgb(246,194,194); }
menu aurainspector-onOffButton.circle.on:hover { background: rgb(216, 0, 0); }
menu aurainspector-onOffButton.circle span { display: none; }
menu aurainspector-onOffButton { display: inline-block; cursor: pointer; padding: 4px 6px 3px 6px; margin: auto 2px; border-radius: 8px;}
menu aurainspector-onOffButton:hover { background: rgba(0, 0, 0, 0.2); color: white; }
menu aurainspector-onOffButton:active{ background: rgba(0, 0, 0, 0.5); color: white; }
menu aurainspector-onOffButton.on { background: rgba(0, 0, 0, .3); color: white; text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;  }

/* General Component Styling */
.component-prefix { color: maroon; }
.component-property { color: maroon;}
.component-property-value { color: #333; margin: 0 0 0 3px; }
.component-facet-property { color: maroon; }
.component-tagname { color: blue; }
.component-attribute { color: purple; }
.component-array-length { color: teal; font-size: .9em; font-style: normal; }

/* Component Tree */
/*
  The beginnings of a resize. Need to get the component tree and component view in sync, so when you change one, the other fills in the space.
 #tab-body-component-tree { resize: horizontal; overflow: auto; } */
.component-tree { margin: 0 0 0 1em; padding: 0;}
.component-tree .tree-view li.tree-node-selected > span { background: rgb(225, 231, 253); }

/* IFrame Tabs */
section.tab-body.auraInspectorIFrameTab { overflow: hidden; }
.auraInspectorIFrameTab iframe { width: 100%; height: 100%; }

/* Event Log */
.event-log { list-style-type: none; margin: 0; padding: 0 10px; height: 100%; }
.event-log li { list-style: none; border-bottom: 1px solid #ddd; padding: 5px 0; }
.event-log li aurainspector-eventCard { display: inline-block; }
.event-log-timestamp:before { content: "[";}
.event-log-timestamp:after { content: "]"; margin: 0 3px 0 0; }
.event-log-timestamp { color: maroon; }
.event-log li button { cursor: pointer; display: inline-block; font-family: monospace; font-size: 1.25em; vertical-align: top; background: transparent; border: 0 none; margin-right: 3px; margin-left: 3px; padding-right: 3px; padding-left: 3px; }
.event-log li button:focus { outline: 1px solid #ddd; }

/* Component View */
.component-view { position: absolute; width: 25%; top: 0; right: 0; bottom: 0; background: #fff; opacity: .8; border-left: 1px solid #efefef; overflow: auto;}
.component-view ul { margin: 0; padding: 0;  }
.component-view ul li { list-style: none; padding: .1em 0 0 0; text-indent: .5em }
.component-view ul li li { list-style: square inside; padding: 0 0 0 1em;}
.component-view h3 { background: #DFDFDF; font-weight: bold; font-size: 1em; font-family: 'Lucida Grande', 'Consolas', 'sans-serif'; padding: .2em; margin-top: .2em; }

/* Performance Tab */
#flamechart { position: relative; width: 100%; height: 90%;}

/* Transactions Panel */
.trans-panel .panel-status-bar {  }
.trans-panel .transactions TABLE TR TH { background: #DFDFDF; font-weight: normal; font-size: 1em; font-family: 'Lucida Grande', 'Consolas', 'sans-serif'; padding: .2em; margin-top: .2em; }
.trans-panel table { font-size: 12px; border-collapse: collapse; width: 100%; }
.trans-panel thead { text-align: left; }
.trans-panel td { max-width: 200px }
.trans-panel tr:nth-child(even) {background: #DDD}
.trans-panel tr:nth-child(odd) {background: #FFF}
.trans-panel .transactions { padding: 0 1em; height: calc(100% - 60px); overflow: scroll;}

/* Actions List */
.actions-list { margin: 0; padding: 10px; }
.actions-list section h1 { font-size: 1.5em; background: #f4f6f9; margin: 5px 0 0 0; padding: 5px; border-bottom: 1px solid #d8dde6; }
.actions-list .action-card { padding: 10px; display: block; }
.actions-list .action-card:nth-child(odd) { background: #f0f8fc;}
#tab-body-actions #filter-text { width: 150px; }
.actionsToDrop-list { margin: 0; padding: 10px; }
.actionsToDrop-list section h1 { font-size: 1.5em; background: #f4f6f9; margin: 5px 0 0 0; padding: 5px; border-bottom: 1px solid #d8dde6; }
.actionsToDrop-list .action-card { padding: 10px; display: block; }
.actionsToDrop-list .action-card:nth-child(odd) { background: #f0f8fc;}

/* Storage Panel */
#storage-viewer { padding: 10px; }

/* Loading Indicator */
#loading { display: none; position: absolute; height: 100%; width: 100%; }
#loading .dotsSpinner { margin: 100px 0 0 100px; width: 100px; height: 100px; position: absolute; z-index: 100; }
#loading .opaque { content: ' '; background: #fff; width: 100%; height: 100%; opacity: .6; z-index: 99; }

#loading .dots { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(90deg); width: 32px; }
#loading .dots, #loading .dots div { transform-origin: 50% 50%; }
#loading .dots div { position: absolute; top: 0; left: 0; width: 100%; }

#loading .dots:before, #loading .dots:after, #loading .dots div:before, #loading .dots div:after { animation-duration: 1000ms; animation-iteration-count: infinite; content: ""; background: rgb(21, 137, 238); border-radius: 100%; width: 8px; height: 8px; position: absolute; }
#loading .dots:before, #loading .dots div:before { animation-name: dotsBounceBefore-medium; top: -4px; left: -4px; }
#loading .dots:after, #loading .dots div:after { animation-name: dotsBounceAfter-medium; top: -4px; right: -4px; }

#loading .a { transform: rotate(60deg) translateY(0); }
#loading .b { transform: rotate(120deg) translateY(0); }

#loading .dots:before { animation-delay: -83.33333ms; }
#loading .a:before { animation-delay: 83.33333ms; }
#loading .b:before { animation-delay: 250ms; }
#loading .dots:after { animation-delay: 416.66667ms; }
#loading .a:after { animation-delay: 583.33333ms; }
#loading .b:after { animation-delay: 750.0ms; }


@-webkit-keyframes dotsBounceBefore-medium {
  60% { transform: translateX(0); animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(-8px); }
  100% { transform: translateX(0); }
}
@keyframes dotsBounceBefore-medium {
  60% { transform: translateX(0); animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(-8px); }
  100% { transform: translateX(0); }
}

@-webkit-keyframes dotsBounceAfter-medium {
  60% { animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); transform: translateX(0); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(8px); }
  100% { transform: translateX(0); }
}
@keyframes dotsBounceAfter-medium {
  60% { animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); transform: translateX(0); }
  80% { animation-timing-function: cubic-bezier(0, 1.11, 0.7, 1.43); transform: translateX(8px); }
  100% { transform: translateX(0); }
}

