/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }

body, form, ul, li, p, h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
body { background-color: #fefefe; color: #111; margin: 0; display: flex; flex-direction: column; height: 100%; }
img { border: none; }
p { font-size: 1em; margin: 0 0 1em 0; }
input, select, textarea, th, td { font-size: 1em; }

/* General Structure */
header.tabs { background: #F0F1F2; padding: 0 0 0 1em; }
header.tabs button { background: #F5F6F7; border: 1px solid #DADEE2; border-bottom: 0px none; margin-right: .2em; margin: .6em .2em 0 .2em;}
header.tabs button:focus { outline: 1px solid #FF9F05; }
header.tabs button.selected { background: #fff; }
section.tab-body.selected { display: block; }
section.tab-body { display: none; width: 100%; overflow: auto;}
body.sidebar-visible section.tab-body { width: 75%; }
body .sidebar { display: none; }
body.sidebar-visible .sidebar { display: block; }

/* Generic TreeView Rules */
.tree-view {}
.tree-view li { cursor: pointer; }
.tree-view li > span:hover { border-bottom: 1px solid #999;}
.tree-view.collapsable li ul { margin: .1em 0 .1em 1.5em; }
.tree-view.collapsable li { list-style: none; }
.tree-view.collapsable li.tree-view-parent {}
.tree-view.collapsable li.tree-view-parent::before { content: ''; display: inline-block; width: 0; height: 0; border-top: 5px solid transparent; border-left: 7px solid #777; border-bottom: 5px solid transparent; margin: 0 3px 0 0;  }
.tree-view.collapsable li.tree-view-parent.tree-view-expanded::before { content: ''; display: inline-block; width: 0; height: 0; border-left: 5px solid transparent; border-top: 7px solid #777; border-right: 5px solid transparent; margin: 0; position: relative; top: 5px;}
.tree-view.collapsable li.tree-view-parent > ul { display: none; }
.tree-view.collapsable li.tree-view-parent.tree-view-expanded > ul { display: block; }


/* Common Panel Styles */
menu { border-bottom: 1px solid #F0F1F2; padding: .5em; margin: 0; }
menu li { display: inline-block; list-style: none; vertical-align: middle; }
menu button { border: 1px solid #DADEE2; background: #F5F6F7; cursor: pointer; }
menu button:active { border: 1px solid #999; background: #ddd; }
menu li.divider { background: #ccc; height: 22px; width: 1px;  margin: auto 2px; display: inline-block; vertical-align: bottom; } 
menu button.circle { border: 0px none; border-radius: 10px; }

menu aurainspector-onOffButton.circle { width: 15px; height: 15px; border-radius: 50%; box-shadow: 0px 0px 5px #999; background: #888; }
menu aurainspector-onOffButton.circle:hover { background: 666; }
menu aurainspector-onOffButton.circle.on { background: #F00; }
menu aurainspector-onOffButton.circle.on:hover { background: #F00; }
menu aurainspector-onOffButton.circle span { display: none; }
menu aurainspector-onOffButton { border: 0px none; border-radius: 10px; color: #fff; background: #ddd; text-shadow: 1px 1px #aaa; padding: 2px 6px 3px; display: inline-block; cursor: pointer; }
menu aurainspector-onOffButton:hover { background: #bbb; }
menu aurainspector-onOffButton.on { color: #111; font-weight: bold; background: #d8dde6; text-shadow: 1px 1px #efefef;}

/* General Component Styling */
.component-prefix { color: maroon; }
.component-property { color: maroon;}
.component-property-value { color: #333; margin: 0 0 0 3px; }
.component-facet-property { color: maroon; }
.component-tagname { color: blue; }
.component-attribute { color: purple; }
.component-array-length { color: teal; font-size: .9em; font-style: normal; }

/* Component Tree */
.component-tree { margin: 0 0 0 1em; padding: 0}

/* IFrame Tabs */
section.tab-body.auraInspectorIFrameTab { overflow: hidden; }
.auraInspectorIFrameTab iframe { width: 100%; height: 100%; }

/* Event Log */
.event-log { list-style-type: none; margin: 1em 0 0 1em; padding: 0; }
.event-log li { list-style: none; }
.event-log-timestamp::before { content: "[";}
.event-log-timestamp::after { content: "]"; margin: 0 3px 0 0; }
.event-log-timestamp { color: maroon; }

/* Component View */
.component-view { position: absolute; width: 25%; top: 0; right: 0; bottom: 0; background: #fff; opacity: .8; border-left: 1px solid #efefef;}
.component-view ul { margin: 0; padding: 0;  }
.component-view ul li { list-style: none; padding: .1em 0 0 0; text-indent: .5em }
.component-view ul li li { list-style: square inside; padding: 0 0 0 1em;}
.component-view h3 { background: #DFDFDF; font-weight: bold; font-size: 1em; font-family: 'Lucida Grande', 'Consolas', 'sans-serif'; padding: .2em; margin-top: .2em; }

/* Performance Tab */
#flamechart { position: relative; width: 100%; height: 90%;}

/* Transactions Panel */
.trans-panel .panel-status-bar {  }
.trans-panel .transactions TABLE TR TH { background: #DFDFDF; font-weight: normal; font-size: 1em; font-family: 'Lucida Grande', 'Consolas', 'sans-serif'; padding: .2em; margin-top: .2em; }
.trans-panel table { font-size: 12px; border-collapse: collapse; width: 100%; }
.trans-panel thead { text-align: left; }
.trans-panel td { max-width: 200px }
.trans-panel tr:nth-child(even) {background: #DDD}
.trans-panel tr:nth-child(odd) {background: #FFF}
.trans-panel .transactions { padding: 0 1em; height: calc(100% - 60px); overflow: scroll;}

/* Actions List */
.actions-list { margin: 0; padding: 10px; }
.actions-list section h1 { font-size: 1.5em; background: #f4f6f9; margin: 5px 0 0 0; padding: 5px; border-bottom: 1px solid #d8dde6; }
.actions-list .action-card { padding: 10px; display: block; }
.actions-list .action-card:nth-child(odd) { background: #f0f8fc;} 
#tab-body-actions #filter-text { width: 300px; }

/* Storage Panel */
#storage-viewer { padding: 10px; }

/* Loading Indicator */
#loading { display: none; position: absolute; height: 100%; width: 100%; }
#loading .spinner { margin: 100px 0 0 100px; width: 100px; height: 100px; position: absolute; z-index: 100; }
#loading .opaque { content: ' '; background: #fff; width: 100%; height: 100%; opacity: .3; z-index: 50; }
#loading .cube1, .cube2 { background-color: #333; width: 10px; height: 10px; position: absolute; top: 0; left: 0; -webkit-animation: cubemove 1.8s infinite ease-in-out; animation: cubemove 1.8s infinite ease-in-out; }
#loading .cube2 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

