.performanceTestDeepIteration tr.white.even{
    background-color: #FFCC99;
}
.performanceTestDeepIteration tr.white.odd{
    background-color: white;
}
.performanceTestDeepIteration tr.grey.even{
    background-color: white;
}
.performanceTestDeepIteration tr.grey.odd{
    background-color: #FFCC99;
}