.THIS {
  color: #333;
  margin: 1px;
}

.THIS--promotion {
  font-weight: bold;
}

.THIS--info, .THIS--warning, .THIS--error {
  padding: 10px;
  margin: 12px;
}

.THIS--info {
  color: blue;
}

.THIS--warning {
  color: yellow;
}

.THIS--error {
  color: red;
}