.performanceTestIterateBasicData tr.white.even{
    background-color: #FF9966;
}
.performanceTestIterateBasicData tr.white.odd{
    background-color: white;
}
.performanceTestIterateBasicData tr.grey.even{
    background-color: white;
}
.performanceTestIterateBasicData tr.grey.odd{
    background-color: #FF9966;
}