
html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.apex-punctuation {
  color: black;
}

span.apex-operator {
  color: purple;
}

span.apex-keyword {
  color: #7f0055;
  font-weight:bold;
}

span.apex-atom {
  color: brown;
}

span.apex-variable {
  color: black;
}


span.apex-property {
  color: black;
}

span.apex-comment {
  color: green;
}

span.apexdoc-comment {
  color: #3e5797;
  font-weight:bold;
}

span.apex-string {
  color: blue;
}

span.apex-annotation{
  color: gray;	
}

