.THIS h1 {
    background-color: #444;
    padding: 0.25em 0.5em;
    font-size: 1.33em;
    color: #FFF;
}
.THIS .columns {
    display: flex;
}
.THIS .columns > div {
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 50%;
}
.THIS ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}
.THIS ul {
    padding-left: -0.25em;
}
.THIS table, .THIS th, .THIS td {
   border-width: 1px 1px 1px 1px;
   border-color: #FFF;
}

.THIS .break {
   border-right: 2px solid #444;
}

.THIS th, .THIS td {
    padding: 0.25em 0.5em;
}

.THIS th,
.THIS td {
    background-color: #E8E8E8;
}
.THIS tr:nth-child(odd) th,
.THIS tr:nth-child(odd) td {
    background-color: #E0E0E0;
}

.THIS td:first-child,
.THIS td:nth-child(4),
.THIS td:nth-child(6),
.THIS td:last-child {
    border-right: 1px solid black;
}

.THIS tr td.proto {
    background-color: #444;
    color: #FFF;
}

.THIS tr td.pass {
    background-color: #40C040;
}
.THIS tr:nth-child(odd) td.pass {
    background-color: #48C848;
}

.THIS tr td.warn {
    background-color: #F08040;
}
.THIS tr:nth-child(odd) td.warn {
    background-color: #F88848;
}

.THIS tr td.fail {
    background-color: #F03030;
}
.THIS tr:nth-child(odd) td.fail {
    background-color: #F83838;
}
