.THIS P,
P.THIS {
	margin: 10px;
	padding: 10px;
	display: inline-block;
	background: #efefef;
}

.THIS H1,
H1.THIS {
	margin: 10px;
	display:block;
	font-weight: bold;
	font-size: 2em;
	border-bottom: 1px solid silver;
}