.THIS .city{
    background-color: orange;
}
.THIS .state{
    background-color: white;
}
.THIS .country{
    background-color: black;
    color:white;
}
.THIS .league{
    background-color: blue;
    color:white;
}
.THIS .year{
    background-color: blue;
    color:white;
}
.THIS .president{
    background-color: white;
    color:blue;
}
.THIS .record{
    background-color: blue;
    color:white;
}
.THIS.team{
    background-color: orange;
    color:black;
}
.THIS .city.grey{
    background-color: black;
    color:white;
}
.THIS .state.grey{
    background-color: orange;
}
.THIS .country.grey{
    background-color: lightgrey;
    color:white;
}
.THIS .league.grey{
    background-color: lightblue;
    color:white;
}
.THIS .year.grey{
    background-color: lightblue;
    color:white;
}
.THIS .president.grey{
    background-color: lightblue;
    color:white;
}
.THIS .record.grey{
    background-color: lightgrey;
    color:blue;
}

.THIS.team.grey{
    background-color: lightgrey;
    color:orange;
}