#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="3.0">

    <display-name>Aura Sample</display-name>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
       instead of the default XmlWebApplicationContext -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <!-- Configuration locations must consist of one or more comma- or space-delimited
         fully-qualified @Configuration classes. Fully-qualified packages may also be
         specified for component-scanning -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>org.auraframework.AuraConfiguration,test.org.auraframework.AuraTestConfiguration,${package}.configuration.CustomConfiguration</param-value>
    </context-param>

    <!-- Bootstrap the root application context as usual using ContextLoaderListener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <filter>
        <filter-name>AuraContextFilter</filter-name>
        <filter-class>org.auraframework.http.AuraContextFilter</filter-class>
    </filter>

    <!-- Begin Aura Servlet -->

    <filter-mapping>
        <filter-name>AuraContextFilter</filter-name>
        <url-pattern>/aura</url-pattern>
        <url-pattern>/auraAnalytics</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuraContextFilter</filter-name>
        <url-pattern>*.cmp</url-pattern>
        <url-pattern>*.app</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AuraRewriteFilter</filter-name>
        <filter-class>org.auraframework.http.AuraRewriteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuraRewriteFilter</filter-name>
        <url-pattern>*.cmp</url-pattern>
        <url-pattern>*.app</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuraServlet</servlet-name>
        <servlet-class>org.auraframework.http.AuraServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuraServlet</servlet-name>
        <url-pattern>/aura</url-pattern>
        <url-pattern>/auraAnalytics</url-pattern>
    </servlet-mapping>

    <!-- Begin Aura ResourceServlet -->

    <filter>
        <filter-name>AuraResourceRewriteFilter</filter-name>
        <filter-class>org.auraframework.http.AuraResourceRewriteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuraResourceRewriteFilter</filter-name>
        <url-pattern>/l/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuraResourceServlet</servlet-name>
        <servlet-class>org.auraframework.http.AuraResourceServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <filter-mapping>
        <filter-name>AuraContextFilter</filter-name>
        <url-pattern>/auraResource</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>AuraResourceServlet</servlet-name>
        <url-pattern>/auraResource</url-pattern>
    </servlet-mapping>

    <!-- Begin Aura Framework Servlet -->
    <servlet>
        <servlet-name>AuraFrameworkServlet</servlet-name>
        <servlet-class>org.auraframework.http.AuraFrameworkServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <filter-mapping>
        <filter-name>AuraContextFilter</filter-name>
        <url-pattern>/auraFW/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>AuraFrameworkServlet</servlet-name>
        <url-pattern>/auraFW/*</url-pattern>
    </servlet-mapping>

    <!-- Begin Aura Content Security Policy Report Servlet -->
    <servlet>
        <servlet-name>CSPReporterServlet</servlet-name>
        <servlet-class>org.auraframework.http.CSPReporterServlet</servlet-class>
    </servlet>

    <!--  Begin Content Security Policy Servlet -->

    <servlet-mapping>
        <servlet-name>CSPReporterServlet</servlet-name>
        <url-pattern>/_/csp</url-pattern> <!-- keep in sync with CSPReporterServlet.URL -->
    </servlet-mapping>
    <!-- End Content Security Policy Report Servlet -->

</web-app>


