<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <host>public-proxy1-0-crd.data.sfdc.net</host>
            <nonProxyHosts>*.salesforce.com</nonProxyHosts>
        </proxy>
    </proxies>
    <servers>
        <server>
            <id>sfdc.sharedlibs</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>core</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>nexus</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>snapshots</id>
                    <url>https://nexus.soma.salesforce.com/nexus/content/repositories/snapshots/</url>
                    <snapshots>
                        <checksumPolicy>fail</checksumPolicy>
                        <updatePolicy>interval:10</updatePolicy>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*,!core,!sfdc.sharedlibs,!snapshots</mirrorOf>
            <url>https://nexus.soma.salesforce.com/nexus/content/groups/public/</url>
        </mirror>
    </mirrors>
</settings>
