.THIS tr.white.even {
    background-color: #FFCC99;
}
.THIS tr.white.odd {
    background-color: white;
}
.THIS tr.grey.even {
    background-color: white;
}
.THIS tr.grey.odd {
    background-color: #FFCC99;
}