.THIS a {
    display:block;
    padding:3px 9px;
    text-decoration:none;
    color:#222;
}

.THIS a.selectable {
    padding:3px 9px;
}

.THIS a:focus {
    outline:none;
    border-radius:8px;
    color:#015BA7;
    text-decoration:underline;
    background-color:#CFEEF8;
}