div.THIS {
    display:none;
    position:absolute;
    overflow-x:auto;
    border-radius:3px;
    background-color:#FFF;
    box-shadow:0 1px 5px rgba(0, 0, 0, .75)
}

div.THIS.visible {
    display: block;
}

.THIS ul {
    list-style: none;
    margin: 0px; 
    padding: 0px;
}