@-webkit-keyframes test1 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(720deg); }
}

@keyframes test1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}