.THIS tr.white.even{
    background-color: #FF9966;
}
.THIS tr.white.odd{
    background-color: white;
}
.THIS tr.grey.even{
    background-color: white;
}
.THIS tr.grey.odd{
    background-color: #FF9966;
}