.PerfAbsolute {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
    cursor: move;
    z-index: 999;
}

.PerfContainer {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.PerfContainer .buttonBar {
    width: 100%;
    background-color: #666;
}

.PerfContainer .hidden {
    display: none;
}

.PerfContainer table.measures {
    font-weight: bold;
    border-width: 0px;
    border-style: none;
    border-collapse: collapse;
    table-layout: fixed;
    color:#666;
}

.PerfContainer td.unhover {
}

.PerfContainer span.onhover {
    position: relative;
    z-index: 99;
}

.PerfContainer table.measures th,
.PerfContainer table.measures td {
    border-color: #efefef;
    border-style: solid none;
    border-width: 1px 0;
    padding: 4px 0px;
}

.PerfContainer td {
    white-space: nowrap;
}

.PerfContainer tr.showRow {
    display: table-row;
}

.PerfContainer tr.hideRow {
    display: none;
}

.PerfContainer td.open {
    background-image: url(/img/jiffy/twistyOpen.png);
    background-repeat: no-repeat;
    background-position: 3px 5px;
}

.PerfContainer td.closed {
    background-image: url(/img/jiffy/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.PerfContainer td.toggle {
    cursor: pointer;
}

/* Label column width */
.PerfContainer td.mark,
.PerfContainer td.measure {
    width: 150px;
}

.PerfContainer tr.markRow td.mark {
    padding-left: 20px;
}

.PerfContainer tr.evtRow td.measure {
    padding-left: 29px;
    background-image: url(/img/jiffy/bracket.png);
    background-repeat: no-repeat;
    background-position: 21px 5px;
}

.PerfContainer tr.evtRow td {
    font-size: 0.9em;
}

.PerfContainer .bar,
.PerfContainer .durationBar {
    float: left;
}

.PerfContainer .oddRow {
    background: #f4f4f4;
}

.PerfContainer .evenRow {
    background: white;
}

.PerfContainer .bar {
    background-image: url(/img/jiffy/bluegradient.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    text-align: right;
}

.PerfContainer .durationBar {
    background-image: url(/img/jiffy/grayflat.png);
    background-repeat: repeat;
    background-position: 0px 0px;
}

.PerfContainer .elapsed {
    margin-left: 4px;
}

.PerfContainer .statsView{
    height : 200px;
    overflow : auto;
}
